$heavy-dark: #031428;
$dark: #042343;
$light-dark: #003479;
$very-light-dark: #2C74B3;

$heavy-light: #f5f5f5;
$light: #FFFBF5;
$light-gray: #cfcfcf;

$white: #fff;
$black: #121212;
$orange: #ef9f0b;
$red: #FC6161;
$yellow: #EEE500;
$purple: #873EFE;
$green: #0BD18A;
